<div class="container">
  <h2>Users</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Edytuj</th>
      <th>Usuń</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in $ctrl.users">
        <th>{{user.username}}</th>
        <th>{{user.password}}</th>
        <th><button type="button" class="btn btn-secondary" ng-click="$ctrl.editUser(user)">Edytuj</button></th>
        <th><button type="button" class="btn btn-danger" ng-click="$ctrl.deleteUser(user)">Usuń</button></th>
      </tr>
    </tbody>
  </table>

  <!--  Review Form -->
  <form name="reviewForm" ng-submit="$ctrl.addUser()">

    <!--  Review Form -->
    <h4>{{$ctrl.elementContent}} user</h4>
    <fieldset class="form-group">
      <textarea ng-model="$ctrl.user.username" class="form-control" placeholder="username..." title="Username"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <input ng-model="$ctrl.user.password" class="form-control" placeholder="password..." title="Password" />
    </fieldset>
    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="{{$ctrl.elementContent}} user" />
    </fieldset>
  </form>
</div>
